@using WebPortal.Models;
@model IEnumerable<roles>
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>@ViewBag.Title - Roles</title>
<div>
    <div class="panel-success">
        <div class="panel-heading">
            <div class="panel-title">Roles</div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Role ID</th>
                    <th>Role</th>
                    @*<th>Users</th>*@
                    <th></th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr><td class="text-center">No Roles</td></tr>
                }
                else
                {
                    foreach (roles role in Model)
                    {
                        <tr>
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = role.Id }, new { @class = "btn btn-primary btn-xs" })
                                <button type="button" data-toggle="modal" data-target="#deleteconfirmation" class="btn btn-danger btn-xs">Delete</button>
                                <div class="modal fade" id="deleteconfirmation" role="dialog" tabindex="-1">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" title="Close"><span class="glyphicon glyphicon-remove"></span></button>
                                                <h3 class="text-center">Are you sure?</h3>
                                            </div>
                                            <div class="modal-body">
                                                @Html.ActionLink("Delete", "Role", new { id = role.Id}, new { @class = "btn btn-block btn-danger"})
                                                <br />
                                                <a href="@Url.Action("Index")" class="btn btn-block btn-default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </td>
                    </tr>
                    }
                }
            </table>
        </div>
        @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

