@model WebPortal.Models.ResetPasswordModel
@{
    Layout = null;
    ViewBag.Title = "Forgot Password";
}

<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@ViewBag.Title - AHMC Portal</title>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link href="~/Content/hover.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/html5shiv.min.js"></script>
<script src="~/Scripts/respond.js"></script>
<body>
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text">
                        <br /><br />
                        <img src="~/Images/Logo/ahmc_logo.png" />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 form-box">
                        <div class="form-bottom">
                            @Html.ValidationSummary(false)
                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Code)
                                <div class="form-group">
                                    @Html.TextBoxFor(a => a.Username, new
                                        {
                                            @autofocus = "autofocus",
                                            @placeholder = "Username",
                                            @class = "input-size inputuser",
                                            autocomplete = "off"
                                        })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(a => a.Password, new
                                        {
                                            @placeholder = "Password",
                                            @class = "input-size inputpass",
                                            autocomplete = "off"
                                        })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(a => a.ConfirmPassword, new
                                        {
                                            @placeholder = "Confirm Password",
                                            @class = "input-size inputpass",
                                            autocomplete = "off"
                                        })
                                </div>
                                <button type="submit" class="btn btn-login">Reset Password</button>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

