@model WebPortal.Models.ResultModel

@{
    ViewBag.Title = "Add Retention";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel-success">
    <div class="panel-heading">
        <div class="panel-title">Add Retention Setting</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 form-box">
                <center>
                    @Html.ValidationSummary(false)
                    @using (Html.BeginForm())
                    {
                        @ViewBag.Error
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.module, new { @class = "input-size-mini inputuser", @placeholder = "Module Name" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.retentionperiod, new { @class = "input-size-mini inputuser", @placeholder = "Retention Period ex. 1, 2, 3 ... 30" })
                        </div>
                        <br />
                        <button type="submit" class="btn btn-success">Save</button>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                    }
                </center>
            </div>
        </div>
    </div>
</div>

