@model WebPortal.Models.PortalRetention

@{
    ViewBag.Title = "Edit Retention";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel-success">
    <div class="panel-heading">
        <div class="panel-title">Edit Retention Setting</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 form-box">
                <center>
                    <h4>@ViewBag.Error</h4>
                    <br />
                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model => model.ID)
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Module, new { @class = "input-size-mini inputuser" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Retention_Period, new { @class = "input-size-mini inputuser" })
                        </div>
                        <br />
                        <button type="submit" class="btn btn-success">Save</button>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                    }
                </center>
            </div>
        </div>
    </div>
</div>