@*@model WebPortal.Models.OPSViewModel*@
@model PagedList.IPagedList<WebPortal.Models.webportal_patient_diagnosis>
@using PagedList.Mvc;
@using PagedList;

<div id="tbl-wrapper2">

    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr style="background-color:rgba(98,151,239,0.8);color:white;">
                <th style="text-align:center;">Diagnosis</th>
                <th style="text-align:center;">Date Recorded</th>
                <th style="text-align:center;">Code</th>
                <th style="text-align:center;">Coding System</th>
                <th style="text-align:center;">Coding Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><h5>@Html.DisplayFor(model => item.diagnosis)</h5></td>
                    <td><h5> @Html.DisplayFor(model => item.recorded_at_date_time)</h5></td>
                    <td><h5>@Html.DisplayFor(model => item.code)</h5></td>
                    <td><h5>@Html.DisplayFor(model => item.coding_system_rcd)</h5></td>
                    <td><h5>@Html.DisplayFor(model => item.coding_type)</h5></td>
                </tr>
            }
        </tbody>
    </table>
            
    <center>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("OMCPpatientDiagnosis", new { page, currentfilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "tbl-wrapper2"
        }))
    </center>

</div>

        
