@model IEnumerable<WebPortal.Models.webportal_patient_info>
@using WebPortal.Models;
@*@foreach (var item in Model)
{ 
    <h5>@item.last_name_l,&nbsp;@item.first_name_l&nbsp;@item.middle_name_l</h5>
    <h5>@item.hospital_nr</h5>
    <h5>@item.date_of_birth</h5>
    <h5>@item.age</h5>
    <h5>@item.gender</h5>
}*@
<div class="row">
        @foreach (var item in Model)
        {
            <br />
            <div class="col-xs-2">
                <img src="~/Images/Reports_icons/user-icon.png" width="100" height="100" />
            </div>
            <div class="col-xs-6">
                <h4>Patient Name :&nbsp;&nbsp;&nbsp;<b>@item.last_name_l , @item.first_name_l @item.middle_name_l</b></h4>
                <h4>Hospital Number :&nbsp;&nbsp;&nbsp;@item.hospital_nr</h4>
                <h4>Birthday :&nbsp;&nbsp;&nbsp;@item.date_of_birth.Value.ToString("dd MMMM yyyy")</h4>
            </div>
            <div class="col-xs-4">
                <h4>Age :&nbsp;&nbsp;&nbsp;@item.age y.o</h4>
                <h4>Gender :&nbsp;&nbsp;&nbsp;@item.gender</h4>
            </div>
        }
</div>
