@*@model WebPortal.Models.OPSViewModel*@
@model PagedList.IPagedList<WebPortal.Models.webportal_patient_medication>
@using PagedList.Mvc;
@using PagedList;
<div id="tbl-wrapper3">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr style="background-color:rgba(98,151,239,0.8);color:white;">
                <th style="text-align:center;">Date</th>
                <th style="text-align:center;">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><h5>@Html.DisplayFor(model => item.note_date)</h5></td>
                    <td><h5>@Html.DisplayFor(model => item.note_date)</h5></td>
                </tr>
            }
        </tbody>
    </table>
               
    <center>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("OMCPpatientMedication", new { page, currentfilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "tbl-wrapper3"
        }))
    </center>
        </div>

