@*@model WebPortal.Models.OPSViewModel*@
@model PagedList.IPagedList<WebPortal.Models.webportal_patient_prev_hospitalization>
@using PagedList.Mvc;
@using PagedList;

<div id="tbl-wrapper4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Previous Hospitalization</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group row">


                <li class="list-group-item col-xs-4"><h5>Visit Date</h5></li>
                <li class="list-group-item col-xs-4"><h5>Visit Type</h5></li>
                <li class="list-group-item col-xs-4"><h5>Primary Service</h5></li>

                @foreach (var item in Model)
                {

                    <li class="list-group-item col-xs-4">
                        <h6>@Html.DisplayFor(model => item.visit_start_date_time)</h6>
                    </li>

                    <li class="list-group-item col-xs-4">
                        <h6> @Html.DisplayFor(model => item.visit_type)</h6>
                    </li>

                    <li class="list-group-item col-xs-4">
                        <h6>@Html.DisplayFor(model => item.primary_service)</h6>
                    </li>

                }
            </ul>
       </div>
   </div>
</div>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("OMCPpatientPrevHosp", new { page, currentfilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "tbl-wrapper4"
        }))
