@model WebPortal.Models.OPSViewModel
@{
    ViewBag.Title = "OutpatientMedicalCareProfile";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

@section reports{
    <section>
        <center>
            <div class="jumbotron jumbotron-margin-top" style="background-color:#F9FAFC;">
                <img src="~/Images/Reports_icons/reports_nobox.png" width="197" height="259" class="sidebar-results-img"/>
                <div class="sidebar-main-text">Reports</div>
                <br />
                <div class="sidebar-sub-text">Generate patient's medical records.</div>
            </div>
        </center>
    </section>
}

<div class="modal fade" id="alert" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" title="Close">&times;</button>
            </div>
            <div class="modal-body">
                <center><h5>Hospital Number not Found.</h5></center>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <img src="~/Images/Reports_icons/omcp_small.png" class="omcp_banner"/>
</div>
    <div class="row" style="position:absolute; left:70%;top:200px;">
        <div style="position:relative; left:-70%">
            @using (Html.BeginForm("OutpatientMedicalCareProfile", "Reports", FormMethod.Get))
            {
                <div class="form-inline">
                    <div class="form-group">
                        @Html.TextBox("search", ViewBag.CurrentFilter as String, new { @placeholder = "Enter Hospital Number", @class="form-control"})
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>

<div class="panel-group" style="margin-top:220px;">
    <div class="panel-heading">
        @if (ViewBag.Successful == "true")
        {
            @Html.Partial("_patinfo", Model.patient_info)
        }
    </div>
    <div class="row panel-body" style="margin-top:20px;">
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a class="tab-text" href="#allergy" data-toggle="tab">Patient's Allergy</a></li>
            <li><a class="tab-text" href="#medic" data-toggle="tab">Patient's Medication</a></li>
            <li><a class="tab-text" href="#diag" data-toggle="tab">Patient's Diagnosis</a></li>
            <li><a class="tab-text" href="#surg" data-toggle="tab">Previous Surgeries</a></li>
            <li><a class="tab-text" href="#hosp" data-toggle="tab">Previous Hospitalization</a></li>
        </ul>
        <div class="tab-content col-xs-12">

            <div class="tab-pane fade in active" id="allergy">
                @if (ViewBag.Successful == "true")
                {
                    @Html.Action("OMCPpatientAllergy", "Reports")
                }
                else
                {
                    <h4 style="padding:5px;">No records found.</h4>
                }
            </div>
            <div class="tab-pane fade in" id="medic">
                @if (ViewBag.Successful == "true")
                {
                    @Html.Action("OMCPpatientMedication", "Reports")
                }
                else
                {
                    <h4 style="padding:5px;">No records found.</h4>
                }
            </div>
            <div class="tab-pane fade" id="diag">
                @if (ViewBag.Successful == "true")
                {
                    @Html.Action("OMCPpatientDiagnosis", "Reports")
                }
                else
                {
                    <h4 style="padding:5px;">No records found.</h4>
                }
            </div>

            <div class="tab-pane fade" id="surg">
                @if (ViewBag.Successful == "true")
                {
                    @Html.Action("OMCPpatientPrevSurg", "Reports")
                }
                else
                {
                    <h4 style="padding:5px;">No records found.</h4>
                }
            </div>
            <div class="tab-pane fade" id="hosp">
                @if (ViewBag.Successful == "true")
                {
                    @Html.Action("OMCPpatientPrevHosp", "Reports")
                }
                else
                {
                    <h4 style="padding:5px;">No records found.</h4>
                }
            </div>
        </div>
    </div>
</div>

<script>
         @if (ViewBag.ShowModal == "true")
         {
           @:$(document).ready(function () { $('#alert').modal('show'); })
         }
</script>