@model WebPortal.Models.ResultModel
@using WebPortal.Models;
@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

@section results {
<center>
    <div class="jumbotron jumbotron-margin-top" style="background-color:#F9FAFC">
        <img src="~/Images/Results_icons/results_nobox.png" class="sidebar-results-img" />
        <div class="sidebar-main-text">Results</div>
        <br />
        <div class="sidebar-sub-text">Access your laboratory results 24 hours after the test.</div>
        @*<div class="sidebar-sub-text">Set the period of accessibility of your results in settings.</div>*@
    </div>
</center>    
}
<div class="row">
    <center><img src="~/Images/Results_icons/laboratory_text.png" style="width:100%;height:50%;" /></center>
</div>
    <br />
    <br />
<div class="panel-default">
    <div class="panel-body">
        @if (Model.PDFFile.Count() == 0)
        {
            <center><h3><i>"No results available yet."</i></h3></center>
        }
        else
        {
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr style="background-color:rgba(98,151,239,0.8);color:white;">
                        <th style="text-align:center;">Date and Time</th>
                        <th style="text-align:center;">Hospital Number</th>
                        <th style="text-align:center;">Name</th>
                        <th style="text-align:center;">Accession No.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FileInfo res in Model.PDFFile)
                    {
                        <tr style="text-align:center;">
                            <td>@res.CreationTime</td>
                            <td>@res.Name.Splitter('_', 2)</td>
                            <td>@res.Name.Splitter('_', 1)</td>
                            <td>@res.Name.Splitter('_', 0)</td>
                            <td>
                                <a href="@Url.Action("PasswordChecker", "Validate", new { id = @res.Name.Splitter('_', 0) })">View Result</a>
                                <div class="modal fade" id="labresult@(res.Name.Splitter('_', 0))" role="dialog" tabindex="-1">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" title="Close"><span class="glyphicon glyphicon-remove"></span></button>
                                            </div>
                                            <div class="modal-body">
                                                <embed src="~/PDFResults/@res.Name" width="850" height="1000" type="application/pdf" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <script>
         @if (Model.IsValidated == true)
         {
           @:$(document).ready(function () { $('#labresult@(Model.fileid)').modal('show'); })
                     }
        </script>

    </div>
</div>